{% extends 'base.html' %}
{% block content %}
	<legend class="border-bottom mb-4 ">
		<h3>{{ username|title }}'s Blog Posts({{ user_total_pages }})</h3>
	</legend>

	{% for post in posts %}
		<article class="media content-section">
		  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}"/>
		  <div class="media-body">
		    <div class="article-metadata">
		      <a:visited class="mr-2" href="#"><b>{{post.author|title}}</b></a>
		      <small class="text-muted">{{post.date_posted|date:"F d, Y"}}</small>
		    </div>
		    <a style="font-size: 25px; text-decoration: none" href="{{ post.get_absolute_url }}">{{post.title}}</a>
		    <p class="article-content">{{post.content|truncatewords:25}}</p>
		  </div>
		</article>
	{% endfor %}	

	{% if posts.has_other_pages %}
	    <nav>
	      <ul class="pagination justify-content-center mb-4">
	        {% if posts.has_previous %}
	          <li class="page-item">
	            <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
	              <span aria-hidden="true">&laquo;</span>
	            </a>
	          </li>
	        {% else %}
	          <li class="page-item disabled">
	              <span class="page-link" aria-hidden="true">&laquo;</span>
	          </li>
	        {% endif %}

	        {% for p in posts.paginator.page_range %}
	          {% if posts.number == p %}
	            <li class="page-item"><a class="page-link" style="color: red;" href="#">{{ p }}</a></li>
	          {% else %}
	            <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
	          {% endif %}
	        {% endfor %}

	        {% if posts.has_next %}
	          <li class="page-item">
	            <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
	              <span aria-hidden="true">&raquo;</span>
	            </a>
	          </li>
	        {% else %}
	          <li class="page-item disabled">
	            <span class="page-link" aria-hidden="true">&raquo;</span>
	          </li>
	        {% endif %}
	     </ul>
	    </nav>
	{% endif %}
{% endblock %}