{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="content-section">
		<form action="." method="POST">
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Login Here</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group"> {% csrf_token %}
				<button class="btn btn-outline-info" type="submit">Sign In</button>
				<small style="font-size: 15px;" class="text-muted ml-3">
					Forgot Password? <a href="{% url 'password_reset' %}">Reset</a>
				</small>
			</div>
		</form>
		<small class="text-muted">
			Not a member? <a href="{% url 'users-register'%}">Register</a>
		</small>
	</div>
{% endblock %}